# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/coverage/

# --- Custom rules for /build/ ---
# 1. Ignore the entire 'build' directory and all its contents
/build/
# 2. But un-ignore the specific 'web' sub-directory.
#    Note: This is generally necessary to allow step 3 to work.
!/build/web
# 3. And un-ignore all files and subdirectories *inside* 'web'.
!/build/web/**

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# dot env files
.env.development
.env.production

.repomix-output.xml